<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- HP- ConfigSections should always be first. Othewrise Configuaration Manager will fail to initialize -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  
  <appSettings>
    <add key="BasicStationIOInputData" value="..\Ini\StationIOInput.xml"/>
    <add key="BasicStationIOOutputData" value="..\Ini\StationIOOutput.xml"/>
    <!--START - MagneMotion Tab Settings-->
    <add key="IsTrackAntiClockwise" value="TRUE"/>
    <add key="MagneMotionTimer" value="1000"/>
    <add key="MagneMotion_Log" value ="C:\IMBAD\Logs\MagneMotion.log" />
    <!--END - MagneMotion Tab Settings-->

    <!--START - IO Tab Settings-->
    <add key="IOTimer" value="1000"/>
    <add key="IO_Log" value ="C:\IMBAD\Logs\IO.log" />
    <!--END - IO Tab Settings-->

    <!--START - Temperature Tab Settings-->
    <add key="TempScopeApp" value ="C:\Nordson\TempChart\bin\Debug\responsiveCharts.exe"/>
    <add key="TempPIDPanelEnable" value ="False"/>
    <add key="TemperatureTimer" value="15000"/>
    <!--END - Temperature Tab Settings-->
    
    <add key="LightIntensity" value ="22"/>

    <!--START - Parts Management Settings-->
    <add key="PartsManagerApp" value ="C:\Nordson\PartsManager\bin\PartsManager.exe"/>
    <add key="PartXMLFilePath" value= "C:\Nordson\PartsManager\PartsXML\"/>
    <!--END - Temperature Tab Settings-->

    <!--START - Lot Statistics-->
    <add key="LotStatisticsTimer" value="5000"/>    
    <!--END - IO Tab Settings-->
    
    
  </appSettings>
  
  
  <!-- Logging Levels-->
  <!-- Loggers may be assigned levels. Levels are instances of the log4net.Core.Level class. The following levels are defined in order of increasing priority:--> 
  <!-- ALL-->
  <!-- DEBUG -->
  <!-- INFO -->
  <!-- WARN -->
  <!-- ERROR-->
  <!-- FATAL -->
  <!-- OFF -->
  
  <!-- Logging Settings using Log4Net -->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="..\Logs\IMBAD_Dashboard.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="40KB"/>
      <maxSizeRollBackups value="2"/>

      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true"/>
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="All"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v2.0.50727" sku="Client"/></startup></configuration>
